.cart-wrapper {
  position: relative;
}

.cart-icon {
  padding: 10px;
  font-size: 1.6rem;
  color: #fdd5d5;
}

.custom-link:hover .cart-icon {
  color: #ffffff;
}

.cart-badge {
  position: absolute;
  top: -0.3rem;
  right: -0.6rem;
  background-color: #ff6b6b;
  color: white;
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 9999px;
}

/* .user-avatar {
  background-color: #16c016;
  color: white;
  font-weight: 600;
  font-size: 0.875rem;
  width: 32px;
  height: 32px;   
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
} */
